@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Poppins:wght@400;500;700&display=swap');

body {
    margin: 0;
    background: #00a5be;
    font-family: 'Poppins', sans-serif;
}
  
.logo {
  grid-area: logo;
  margin: 0 auto 2em;
  display: block;
}

.grid {
  display: grid;
  height: calc(100vh - 8em);
  padding: 4em;
  grid-template-columns: 50px 1fr 1fr 200px;
  grid-template-rows: 230px 100px 1fr 1fr 1fr;
  grid-column-gap: 8em;
  grid-template-areas: "asset-top logo logo social" "name character-name avatar avatar" "about character-description avatar avatar" "asset-bottom character-text avatar avatar" "asset-bottom learn-more arrow other-line" ;
}
.character-image-container {
  grid-area: avatar;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social a {
    text-decoration: none;
}
.arrow {
  grid-area: arrow;
  background-image: url('../img/arrow.svg');
  background-repeat: no-repeat;
  background-position: left  bottom ;
  cursor: pointer;
}

.arrow:hover {
    background-image: url('../img/arrow-hover.svg');
}

.learn-more {
  grid-area: learn-more;
  display: flex;
  align-items: flex-end;
  font-size: 25px;
  text-transform: uppercase;
  background-image: url('../img/learn-more.svg');
  background-repeat: no-repeat;
  background-position: left 170px bottom 5px;
}
.asset.top {
  grid-area: asset-top;
}
.asset {
  writing-mode: vertical-rl;
  display: flex;
  align-items: center;
}
.asset.bottom {
  grid-area: asset-bottom;
  justify-content: flex-end;
}
.navigation {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation.name {
  grid-area: name;
}
.navigation.about {
  grid-area: about;
}

.navigation a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  text-transform: uppercase;
}

.social {
  grid-area: social;
  display: flex;
  justify-content: space-around;
}

.character-name-container {
  display: flex;
  align-items: center;
  /* padding-inline-start: 1em; */
  line-height: 50px;
  grid-area: character-name;
}

.character-description-container {
  grid-area: character-description;
}

.navigation .text {
  display: inline-flex;
  margin-inline: 35px;
}

.dot {
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 50%;
  display: inline-flex;
  margin-inline: 5px;
}

.line {
  width: 2px;
  height: 150px;
  background: black;
  display: inline-flex;
  margin-inline: 15px;
}

.wrapper {
  max-width: 1280px;
  margin: auto;
  padding: 0 2em;
}

.character {
  text-align: center;
}
.character-image {
  max-width: 100%;
  border-radius: 50%;
}

.character-label {
  background: #685128;
  padding: 8px 16px;
  color: white;
  border-radius: 10px;
  text-align: left;
  font-size: 25px;
  font-weight: 400;
  /* display: inline-flex; */
}

.character-name {
  
  font-size: 30px;
}

.character-name h2:after {
  content: "";
  width: 87px;
  height: 6px;
  background-color: #F7391C;
  display: inline-flex;
  /* position: absolute; */
  left: calc(100% + 5px);
  top: 50%;
}  
@media screen and (max-width: 1440px) {
  .grid {
      grid-column-gap: 2em;
  }
}
@media screen and (max-width: 1024px) {
  .grid {
      height: auto;
      padding: 2em 1em;
      width: calc(100vw -2em);
      margin: 0 auto;
      column-gap: 1em;
      grid-template-columns: 50px 1fr 1fr;
      grid-template-rows: repeat(6, auto); 
      grid-template-areas: "logo logo logo" ". avatar avatar" "name character-name character-name" "about character-description character-description" "arrow arrow arrow" "social social social";
      
  }
  .asset {
      display: none;
  }
  .logo {
      max-width: 100%;
  }
  .social {
      justify-content: center;
      margin-top: 2em;
  }
  .social img {
      margin: 10px;
  }
  .character-name {
      text-align: center;
      justify-content: center;
  }
  .character-name-container {
      justify-content: center;
      margin-top: 1em;
  }

  .learn-more {
      display: none;
      /* padding-inline-start: 1em; */
  }
  .arrow {
      height: 50px;
      background-position: center;
  }
  .social a { 
      margin-left: 2em;
    }

  .social a:first-child {
      margin-left: 0;
  }
}